{% extends 'base_app/base.html' %}
{% block content %}
    <style>
        .container {
            background-color: rgba(37, 41, 88, .4);
            width: 350px;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            -webkit-box-shadow: 6px 9px 33px -9px rgba(172, 193, 198, 1);
            -moz-box-shadow: 6px 9px 33px -9px rgba(172, 193, 198, 1);
            box-shadow: 6px 9px 33px -9px rgba(172, 193, 198, 1);
        }

        h1 {
            color: white;
            text-align: center;
        }

        h2 {
            color: white;
            text-align: center;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <h1>Czy na pewno chcesz usunąć kajak?</h1>
    <h2>{{ kayak }}</h2>
    <form  method="POST">
        {% csrf_token %}
        <input type="submit" value="Usuń">
    </form>
{% endblock %}